{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include 'parts/header.html' %}
    <main class="main-home">
        <div class="logo">
            <img src="{{ url_for('static', path='images/logo-01.png') }}" alt="">
        </div>

        <div class="form-shortner">
            <form 
                action="javascript:void(0);" 
                method="POST" 
                id=form-shorten-url 
                data-action-shorten="{{ url_for('register_url') }}" 
            >
                <div class="input-group">
                    <input type="text" name="long_url" id="long-url" data-i18n="[placeholder]page-home.input-placeholder">
                    <button type="submit" data-i18n="page-home.button-shorten">Shorten</button>
                </div>
            </form>

            <div class="information">
                <p data-i18n="page-home.p-information">
                    URL Shortener lets you shorten a long link making it easy to remember. After shortening the URL, it is possible to know how many clicks it received
                </p>
            </div>
        </div>

        <div class="section_one">
            <h2 data-i18n="page-home.section-one.h2">A simple and fast URL Shortener!</h2>

            <p data-i18n="page-home.section-one.p">
               Shortener is a free tool to shorten links from social networks and the most accessed sites on the Internet. Use our URL Shortener to shorten a long url and generate a short link. Paste the full link and click the Shorten URL button. On the next screen, copy the shortened URL and share.
            </p>
        </div>


        <div class="section_two">
            <h2 data-i18n="page-home.section-two.h2">Shorten, share and track</h2>

            <p data-i18n="page-home.section-two.p">
                Your shortened URLs can be used in publications, blogs, forums, emails, instant messages and other places. Track statistics for your business and projects by monitoring the amount of hits to your URL with the click counter, no registration required.
            </p>

            <div class="cards">
                <div class="card">
                    <i class='bx bxs-share-alt bx-rotate-90' ></i>
                    <h3 data-i18n="page-home.section-two.cards.card-one.h2">Short</h3>
                    <p data-i18n="page-home.section-two.cards.card-one.p">
                       Shorten links of any length with the Shortener.
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-bulb'></i>
                    <h3 data-i18n="page-home.section-two.cards.card-two.h2">Free</h3>
                    <p data-i18n="page-home.section-two.cards.card-two.p">
                       Create as many shortened links as you like and share.
                    </p>
                </div>

                <div class="card">
                    <i class='bx bxs-lock-alt' ></i>
                    <h3 data-i18n="page-home.section-two.cards.card-three.h2">Safe</h3>
                    <p data-i18n="page-home.section-two.cards.card-three.p">
                       We use https protocol with data encryption in urls
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-line-chart'></i>
                    <h3 data-i18n="page-home.section-two.cards.card-four.h2">Statistics</h3>
                    <p data-i18n="page-home.section-two.cards.card-four.p">
                        Check your shortened url total clicks
                    </p>
                </div>

                <div class="card">
                    <i class='bx bxs-lock-alt' ></i>

                    <h3 data-i18n="page-home.section-two.cards.card-five.h2">Reliable</h3>
                    <p data-i18n="page-home.section-two.cards.card-five.p">
                      We exclude links that attempt to spread spam and malware
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-devices'></i>

                    <h3 data-i18n="page-home.section-two.cards.card-six.h2">Responsive</h3>
                    <p data-i18n="page-home.section-two.cards.card-six.p">
                        Compatible with desktop, tablets and mobile devices
                    </p>
                </div>
            </div>
        </div>
    </main>
    {% include 'parts/footer.html' %}
{% endblock %}
