{% extends 'index.html' %}

{% block title %}URL encurtada{% endblock %}

{% block content %}
    {% include 'parts/header.html' %}
    <main class="main-shortened">
        <div class="content">
            <div class="logo">
                <img src="{{ url_for('static', path='images/logo-01.png') }}" alt="">
            </div>

            <div class="form-shortner">
                <form action="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" value="{{ data.short_url }}" id="input-short-url" readonly >
                        <button id="btn-copy" data-i18n="page-shortened.form.button">Copy URL</button>
                    </div>

                    <div class="url-copied">
                        <span data-i18n="page-shortened.form.button">
                            Url copied
                            <i class='bx bx-check' styles="font-size: 1rem"></i>
                        </span>
                    </div>
                </form>

                <div class="information">
                    <p data-i18n="page-shortened.information.p-one">URL shortened successfully!</p>

                    <p data-i18n="page-shortened.information.p-two">
                      Copy the shortened link and share in messages, texts, posts, websites and other places.
                    </p>


                    <p>
                        <span data-i18n="page-shortened.information.p-three-span">Long URL: </span>
                        <a href="{{ data.long_url }}" target="_black">{{ data.long_url }}</a>
                    </p>

                    <p data-i18n="page-shortened.information.p-four">
                        Track the real-time total clicks of your shortened URL.
                    </p>
                </div>
            </div>
        </div>
    </main>
    {% include 'parts/footer.html' %}
{% endblock %}
